.vs/
.vscode/

.ipynb_checkpoints/

*.exe

venv

.env
*.cache
*.pyc
__pycache__

.DS_Store
.AppleDouble
.LSOverride

output/
dataset/
wandb/
log*/
asset/

*.pth
*.pt

.empty

data/
_als*

stoked-magpie-*