.vs/
.vscode/

.ipynb_checkpoints/

*.exe

venv

.env
*.cache
*.pyc
__pycache__

.DS_Store
.AppleDouble
.LSOverride

output/
dataset/
wandb/
log*/
asset/

*.pth
*.pt

.empty

data/
_als*

theme.npy
theme_title.npy
stoked-magpie-*
recipe-reco-*

*.npy
*.pickle
*.json